<div class="repo-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="Search repositories..."
      class="repo-search" />
  
    <div *ngIf="displayedRepos.length === 0" class="no-repo">No repositories found.</div>
  
    <ul class="repo-list">
        <li *ngFor="let repo of displayedRepos" class="repo-card">
          <a [routerLink]="['/repo', repo.owner.login, repo.name]" class="repo-link-block">
            <h3 class="repo-title">{{ repo.name }}</h3>
            <p class="repo-desc">{{ repo.description }}</p>
          </a>
          <a [href]="repo.html_url" target="_blank" class="repo-link">View on GitHub</a>
          <div class="repo-date">Created: {{ repo.created_at | date:'medium' }}</div>
        </li>
      </ul>
      
  </div>
  