<div class="s-container" [class.visible]="isSidebarVisible">
    <ul >
      <li class="s-link">
        <i class="fas fa-home s-icon"></i>
        <div class="s-link-text">Home</div>
      </li>
      <li class="s-link">
        <i class="fas fa-users s-icon"></i>
        <div class="s-link-text">Employees</div>
      </li>
      <li class="s-link">
        <i class="fas fa-file-alt s-icon"></i>
        <div class="s-link-text">Reports</div>
      </li>
      <li class="s-link">
        <i class="fas fa-user-plus s-icon"></i>
        <div class="s-link-text">Recruitment</div>
      </li>
      <li class="s-link">
        <i class="fas fa-building s-icon"></i>
        <div class="s-link-text">Projects</div>
      </li>
      <li class="s-link">
        <a routerLink="getRepos" routerLinkActive="active" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
          <i class="fas fa-project-diagram s-icon"></i>
          <div class="s-link-text">get repos </div>
        </a>
      </li> 
    </ul>
    <ul >
    <li  routerLink="getRepos" >
      <img src="assets/bin.png" alt="Code Icon" width="16" height="16" style="margin-right: 4px;"> get repos
    </li>
  </ul>
    
  </div>
  