<div class="s-container" [class.visible]="isSidebarVisible">
  <ul>
    <!-- Links for TEACHER -->
    <ng-container *ngIf="userRole === 'teacher'">
    <li class="s-link" [routerLink]="'/'" routerLinkActive="active">
      <img src="assets/home-agreement.png" style="color: #C9190D; width:20px;height:20px" />
      <div class="s-link-text">Home</div>
    </li>
      <li class="s-link"
        ><i class="fas fa-layer-group" style="color: #C9190D; width:17px;height:17px"></i>
 
      <div class="s-link-text">Levels</div>
    </li>
    
    <li class="s-link" ><i class="fas fa-users" style="color: #C9190D; width:17px;height:17px"></i>
 
      <div class="s-link-text">Classes</div>
            <li class="s-link" [routerLink]="'/projects'" routerLinkActive="active">
        <img src="assets/check-list.png" style="color: #C9190D; width:20px;height:20px" />
        <div class="s-link-text">Projects</div>
      </li>
      <li class="s-link" [routerLink]="'/submissions'" routerLinkActive="active">
        <i class="fas fa-file-alt" style="color: #C9190D; width:20px;height:20px"></i>
        <div class="s-link-text">Submissions</div>
      </li>
      <li class="s-link" [routerLink]="'/classes'" routerLinkActive="active">
        <i class="fas fa-tasks" style="color: #C9190D; width:20px;height:20px"></i>
        <div class="s-link-text">Tasks</div>
      </li>

    </ng-container>

    <!-- Links for STUDENT -->
    <ng-container *ngIf="userRole === 'student'">
      <li class="s-link" [routerLink]="'/tasks-list'" routerLinkActive="active">
        <i class="fas fa-tasks"></i>
        <div class="s-link-text">My Assignments</div>
      </li>
    </ng-container>
  </ul>
</div>
